* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto, sans serif';
    background-color: #fff;
    /* background: fixed;
    background-repeat: no-repeat; */
    color: #363946;
}

body, html {
    height: 100%;
}

header {
    width: 100%;
    padding: 30px 0;
    color: #363946;
    font-size: 20px;
}

header::before,
header::after {
    display: table;
    content: '';
}

header::after {
    clear: both;
}

.logo {
    width: 120px;
    height: 120px;
    display: block;
    margin: auto;
}

.quizStart {
    display: block;
    text-align: center;
    width: 50%;
    margin-top: 150px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #363946;
    font-size: 2em;
    text-transform: capitalize;
    font-weight: normal;
}

button {
    padding: 20px;
    border: none;
    color: rgb(49, 32, 0);
    font-size: 18px;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.4s ease;
    margin-top: 40px;
    background-color: #ebb652;
}

button:hover, button:focus {
    background: #363946;
    color: #ebb652;
}

main div {
    margin: 0 auto;
}
label:nth-child(2) {
    background-color:#3C2109;
}
label:nth-child(3) {
    background-color:  #552A1B;
}
label:nth-child(4) {
    background-color: #66380F
}
label:nth-child(5) {
    background-color: #7e4411;
}

label {
    padding: 20px;
    margin-bottom: 0px;
    display: flex;
    color: #f3d2b6;
    cursor: pointer;
    transition: all 0.3s ease-out;
    line-height: 22px;
    font-weight: 800;
    text-transform: capitalize;
} 
fieldset {
    border: none;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #9b610a;
    transition: 0.3s all linear;
    outline: none;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
input:checked {
    border: 9px solid #9b610a;
}

input[type=radio] {
    flex: 0 0 auto;
    margin-right: 10px;
}

h2 {
    text-align: left;
    font-size: 25px;
    margin-bottom: 40px;
    color: #2C2F3A;
    text-transform: capitalize;
    transition: 0.3s ease;
}

form button {
    padding: 20px;
    border: none;
    background-color: #E08229;
    color: #2C2F3A;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 0px;
    width: 100%;
    text-align: left;
}

.answer {
    flex: 1 1 auto;
}
.questionAnswerForm {
    width: 50%;
}

.correctAnswer {
    display: block;
    margin: 0;
    text-align: center;
    background: #2C2F3A;
    color: #E08229;
    padding-top: 40px
}

.correctAnswer p {
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1.5em;
    box-sizing: border-box;
}

h3 {
    color: #AF6438;
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.results p:first-of-type {
    font-size: 25px;
    margin-bottom: 10px
}
.results p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
}
.restartButton {
    margin-top: 40px;
    width: 100%;
}

.correctAnswer button {
    width: 100%;
}

.questionAnswerForm, .quizStart {
    width: 80%;
    margin-bottom: 100px
}

.quizInfo    {
display: none;
text-align: center;
margin-bottom: 20px;
}  

@media screen and (min-width:640px) {
    .logo {
        width: 100px;
        height: 100px;
        display: inline-block;
    }

    header {
        padding: 30px;
    }

    header ul li {
        list-style: none;
        text-align: center;
        font-size: 25px;
        text-transform: uppercase;
        display: inline;
    }

    li {
        margin-left: 35px;
    }
    ul {
        margin-top: 30px;
    }

    form {
        width: 70%;
        margin: auto;
    }

    h2 {
        text-align: center;
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }
    .correctAnswer {
        width: 70%;
        margin: auto;
    }
}

